src/META-INF/wsdl/127.0.0.1_8280/servicioConsultaU.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="Exception" type="tns:Exception"></xs:element>

<xs:complexType name="dtUsuario">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="correo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechaN" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="password" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="esproponente" type="xs:boolean"></xs:element>
<xs:element name="biografia" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="direccion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="sitioweb" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="seguidores" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="seguidos" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bufferedImage">
<xs:sequence>
<xs:element name="data" type="tns:raster" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raster">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="dtListUsuario">
<xs:sequence>
<xs:element name="lista" type="tns:dtUsuario" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtinfoColaborador">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="correo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechaN" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="colaboraciones" type="tns:colaboracion" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="colaboracion">
<xs:sequence>
<xs:element name="entradas" type="xs:boolean"></xs:element>
<xs:element name="fechaRealiz" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="montoC" type="xs:float"></xs:element>
<xs:element name="propuesta" type="tns:propuesta" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="propuesta">
<xs:sequence>
<xs:element name="autor" type="tns:proponente" minOccurs="0"></xs:element>
<xs:element name="categoria" type="tns:categoria" minOccurs="0"></xs:element>
<xs:element name="comentarios" type="tns:comentario" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="descripcionP" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="estaActiva" type="xs:boolean"></xs:element>
<xs:element name="estadoActual" type="tns:estadoPropuesta" minOccurs="0"></xs:element>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="lugar" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="montoE" type="xs:float"></xs:element>
<xs:element name="montoTot" type="xs:float"></xs:element>
<xs:element name="tituloP" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="proponente">
<xs:complexContent>
<xs:extension base="tns:usuario">
<xs:sequence>
<xs:element name="biografia" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="direccion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="FDesactivacion" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="sitioweb" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="correo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechaN" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="password" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="seguidores">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"></xs:element>
<xs:element name="value" minOccurs="0" type="tns:usuario"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoria">
<xs:sequence>
<xs:element name="nombreC" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comentario">
<xs:sequence>
<xs:element name="colaborador" type="tns:colaborador" minOccurs="0"></xs:element>
<xs:element name="texto" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="colaborador">
<xs:complexContent>
<xs:extension base="tns:usuario">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="estadoPropuesta">
<xs:sequence>
<xs:element name="estado" type="tns:tipoE" minOccurs="0"></xs:element>
<xs:element name="fechaInicio" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtListColaboraciones">
<xs:sequence>
<xs:element name="lista" type="tns:dtColaboraciones" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtColaboraciones">
<xs:sequence>
<xs:element name="UColaborador" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="montoC" type="xs:float"></xs:element>
<xs:element name="fechaRealiz" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="Entradas" type="xs:boolean"></xs:element>
<xs:element name="Propuesta" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtListInfoPropuesta">
<xs:sequence>
<xs:element name="lista" type="tns:dtinfoPropuesta" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtinfoPropuesta">
<xs:sequence>
<xs:element name="Titulo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="TipoEspec" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Lugar" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="FechaReal" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="Precio" type="xs:float"></xs:element>
<xs:element name="Monto" type="xs:float"></xs:element>
<xs:element name="estado" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="tipoRetorno" type="tns:tipoRetorno" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="tipoE">
<xs:restriction base="xs:string">
<xs:enumeration value="Ingresada"></xs:enumeration>
<xs:enumeration value="Publicada"></xs:enumeration>
<xs:enumeration value="enFinanciacion"></xs:enumeration>
<xs:enumeration value="Financiada"></xs:enumeration>
<xs:enumeration value="noFinanciada"></xs:enumeration>
<xs:enumeration value="Cancelada"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="tipoRetorno">
<xs:restriction base="xs:string">
<xs:enumeration value="Entradas"></xs:enumeration>
<xs:enumeration value="porGanancias"></xs:enumeration>
<xs:enumeration value="EntGan"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>