src/META-INF/wsdl/127.0.0.1_8280/servicioConsultaU.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="PublicadorConsultarUsuarioService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://127.0.0.1:8280/servicioConsultaU?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="ListarUsuarios"></message>
<message name="ListarUsuariosResponse">
<part name="return" type="tns:dtListUsuario"></part>
</message>
<message name="DesactivarProponente">
<part name="nick" type="xsd:string"></part>
</message>
<message name="DesactivarProponenteResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="ListarPropuestasDeProponenteX">
<part name="nickname" type="xsd:string"></part>
</message>
<message name="ListarPropuestasDeProponenteXResponse">
<part name="return" type="tns:dtListInfoPropuesta"></part>
</message>
<message name="publicarConsultarUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="publicarConsultarUsuarioResponse"></message>
<message name="getDtColaborador">
<part name="nickname" type="xsd:string"></part>
</message>
<message name="getDtColaboradorResponse">
<part name="return" type="tns:dtinfoColaborador"></part>
</message>
<message name="ObtenerSeguidos">
<part name="nickname" type="xsd:string"></part>
</message>
<message name="ObtenerSeguidosResponse">
<part name="return" type="tns:dtListUsuario"></part>
</message>
<message name="retornarImagen">
<part name="nick" type="xsd:string"></part>
</message>
<message name="retornarImagenResponse">
<part name="return" type="tns:bufferedImage"></part>
</message>
<message name="ListarUsuariosRanking"></message>
<message name="ListarUsuariosRankingResponse">
<part name="return" type="tns:dtListUsuario"></part>
</message>
<message name="ObtenerSeguidores">
<part name="nickname" type="xsd:string"></part>
</message>
<message name="ObtenerSeguidoresResponse">
<part name="return" type="tns:dtListUsuario"></part>
</message>
<message name="getMontoColaboracion">
<part name="colaborador" type="xsd:string"></part>
</message>
<message name="getMontoColaboracionResponse">
<part name="return" type="tns:dtListColaboraciones"></part>
</message>
<message name="ListarPropuestasNoIngresadas">
<part name="nickname" type="xsd:string"></part>
</message>
<message name="ListarPropuestasNoIngresadasResponse">
<part name="return" type="tns:dtListInfoPropuesta"></part>
</message>
<message name="ObtenerDtUsuario">
<part name="login" type="xsd:string"></part>
</message>
<message name="ObtenerDtUsuarioResponse">
<part name="return" type="tns:dtUsuario"></part>
</message>
<message name="AgregarFavortio">
<part name="titulo" type="xsd:string"></part>
<part name="nick" type="xsd:string"></part>
</message>
<message name="AgregarFavortioResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="SeguirUsuario">
<part name="nick1" type="xsd:string"></part>
<part name="nick2" type="xsd:string"></part>
</message>
<message name="SeguirUsuarioResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="VerPropuestas">
<part name="nickname" type="xsd:string"></part>
</message>
<message name="VerPropuestasResponse">
<part name="return" type="tns:dtListInfoPropuesta"></part>
</message>
<message name="ObtenerFavoritas">
<part name="nickname" type="xsd:string"></part>
</message>
<message name="ObtenerFavoritasResponse">
<part name="return" type="tns:dtListInfoPropuesta"></part>
</message>
<message name="ObtenerDtUsuario_Correo">
<part name="login" type="xsd:string"></part>
</message>
<message name="ObtenerDtUsuario_CorreoResponse">
<part name="return" type="tns:dtUsuario"></part>
</message>
<message name="DejarSeguirUsuario">
<part name="nick1" type="xsd:string"></part>
<part name="nick2" type="xsd:string"></part>
</message>
<message name="DejarSeguirUsuarioResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<portType name="PublicadorConsultarUsuario">
<operation name="ListarUsuarios">
<input wsam:Action="http://Servicios/PublicadorConsultarUsuario/ListarUsuariosRequest" message="tns:ListarUsuarios"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarUsuario/ListarUsuariosResponse" message="tns:ListarUsuariosResponse"></output>
</operation>
<operation name="DesactivarProponente">
<input wsam:Action="http://Servicios/PublicadorConsultarUsuario/DesactivarProponenteRequest" message="tns:DesactivarProponente"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarUsuario/DesactivarProponenteResponse" message="tns:DesactivarProponenteResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/PublicadorConsultarUsuario/DesactivarProponente/Fault/Exception"></fault>
</operation>
<operation name="ListarPropuestasDeProponenteX">
<input wsam:Action="http://Servicios/PublicadorConsultarUsuario/ListarPropuestasDeProponenteXRequest" message="tns:ListarPropuestasDeProponenteX"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarUsuario/ListarPropuestasDeProponenteXResponse" message="tns:ListarPropuestasDeProponenteXResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/PublicadorConsultarUsuario/ListarPropuestasDeProponenteX/Fault/Exception"></fault>
</operation>
<operation name="publicarConsultarUsuario">
<input wsam:Action="http://Servicios/PublicadorConsultarUsuario/publicarConsultarUsuarioRequest" message="tns:publicarConsultarUsuario"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarUsuario/publicarConsultarUsuarioResponse" message="tns:publicarConsultarUsuarioResponse"></output>
</operation>
<operation name="getDtColaborador">
<input wsam:Action="http://Servicios/PublicadorConsultarUsuario/getDtColaboradorRequest" message="tns:getDtColaborador"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarUsuario/getDtColaboradorResponse" message="tns:getDtColaboradorResponse"></output>
</operation>
<operation name="ObtenerSeguidos">
<input wsam:Action="http://Servicios/PublicadorConsultarUsuario/ObtenerSeguidosRequest" message="tns:ObtenerSeguidos"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarUsuario/ObtenerSeguidosResponse" message="tns:ObtenerSeguidosResponse"></output>
</operation>
<operation name="retornarImagen">
<input wsam:Action="http://Servicios/PublicadorConsultarUsuario/retornarImagenRequest" message="tns:retornarImagen"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarUsuario/retornarImagenResponse" message="tns:retornarImagenResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/PublicadorConsultarUsuario/retornarImagen/Fault/Exception"></fault>
</operation>
<operation name="ListarUsuariosRanking">
<input wsam:Action="http://Servicios/PublicadorConsultarUsuario/ListarUsuariosRankingRequest" message="tns:ListarUsuariosRanking"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarUsuario/ListarUsuariosRankingResponse" message="tns:ListarUsuariosRankingResponse"></output>
</operation>
<operation name="ObtenerSeguidores">
<input wsam:Action="http://Servicios/PublicadorConsultarUsuario/ObtenerSeguidoresRequest" message="tns:ObtenerSeguidores"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarUsuario/ObtenerSeguidoresResponse" message="tns:ObtenerSeguidoresResponse"></output>
</operation>
<operation name="getMontoColaboracion">
<input wsam:Action="http://Servicios/PublicadorConsultarUsuario/getMontoColaboracionRequest" message="tns:getMontoColaboracion"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarUsuario/getMontoColaboracionResponse" message="tns:getMontoColaboracionResponse"></output>
</operation>
<operation name="ListarPropuestasNoIngresadas">
<input wsam:Action="http://Servicios/PublicadorConsultarUsuario/ListarPropuestasNoIngresadasRequest" message="tns:ListarPropuestasNoIngresadas"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarUsuario/ListarPropuestasNoIngresadasResponse" message="tns:ListarPropuestasNoIngresadasResponse"></output>
</operation>
<operation name="ObtenerDtUsuario">
<input wsam:Action="http://Servicios/PublicadorConsultarUsuario/ObtenerDtUsuarioRequest" message="tns:ObtenerDtUsuario"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarUsuario/ObtenerDtUsuarioResponse" message="tns:ObtenerDtUsuarioResponse"></output>
</operation>
<operation name="AgregarFavortio" parameterOrder="titulo nick">
<input wsam:Action="http://Servicios/PublicadorConsultarUsuario/AgregarFavortioRequest" message="tns:AgregarFavortio"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarUsuario/AgregarFavortioResponse" message="tns:AgregarFavortioResponse"></output>
</operation>
<operation name="SeguirUsuario" parameterOrder="nick1 nick2">
<input wsam:Action="http://Servicios/PublicadorConsultarUsuario/SeguirUsuarioRequest" message="tns:SeguirUsuario"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarUsuario/SeguirUsuarioResponse" message="tns:SeguirUsuarioResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/PublicadorConsultarUsuario/SeguirUsuario/Fault/Exception"></fault>
</operation>
<operation name="VerPropuestas">
<input wsam:Action="http://Servicios/PublicadorConsultarUsuario/VerPropuestasRequest" message="tns:VerPropuestas"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarUsuario/VerPropuestasResponse" message="tns:VerPropuestasResponse"></output>
</operation>
<operation name="ObtenerFavoritas">
<input wsam:Action="http://Servicios/PublicadorConsultarUsuario/ObtenerFavoritasRequest" message="tns:ObtenerFavoritas"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarUsuario/ObtenerFavoritasResponse" message="tns:ObtenerFavoritasResponse"></output>
</operation>
<operation name="ObtenerDtUsuario_Correo">
<input wsam:Action="http://Servicios/PublicadorConsultarUsuario/ObtenerDtUsuario_CorreoRequest" message="tns:ObtenerDtUsuario_Correo"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarUsuario/ObtenerDtUsuario_CorreoResponse" message="tns:ObtenerDtUsuario_CorreoResponse"></output>
</operation>
<operation name="DejarSeguirUsuario" parameterOrder="nick1 nick2">
<input wsam:Action="http://Servicios/PublicadorConsultarUsuario/DejarSeguirUsuarioRequest" message="tns:DejarSeguirUsuario"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarUsuario/DejarSeguirUsuarioResponse" message="tns:DejarSeguirUsuarioResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/PublicadorConsultarUsuario/DejarSeguirUsuario/Fault/Exception"></fault>
</operation>
</portType>
<binding name="PublicadorConsultarUsuarioPortBinding" type="tns:PublicadorConsultarUsuario">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="ListarUsuarios">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="DesactivarProponente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="ListarPropuestasDeProponenteX">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="publicarConsultarUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="getDtColaborador">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="ObtenerSeguidos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="retornarImagen">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="ListarUsuariosRanking">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="ObtenerSeguidores">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="getMontoColaboracion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="ListarPropuestasNoIngresadas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="ObtenerDtUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="AgregarFavortio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="SeguirUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="VerPropuestas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="ObtenerFavoritas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="ObtenerDtUsuario_Correo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="DejarSeguirUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="PublicadorConsultarUsuarioService">
<port name="PublicadorConsultarUsuarioPort" binding="tns:PublicadorConsultarUsuarioPortBinding">
<soap:address location="http://127.0.0.1:8280/servicioConsultaU"></soap:address>
</port>
</service>
</definitions>